@font-face {
    src: url("../fonts/DalekPinpointBold.ttf");
}

@font-face {
    src: url("../fonts/Romanica.ttf");
}

.mainPane {
    -fx-background-image: url("../img/match_bg.png");
    -fx-alignment: CENTER;
}

.topBox {
    -fx-padding: 50 0 0 0;
    -fx-alignment: CENTER;
}

.centerBox {
    -fx-max-width: 900px;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.box {

}

.box:hover {
    /*-fx-effect: dropshadow(gaussian, #008000, 15, 0.2, 0, 0);*/
}

.box:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.box.highlighted {
    -fx-background-color: rgba(255, 0, 0, 0.2);
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.botBox {
    -fx-padding: 0 0 50 0;
    -fx-alignment: CENTER;
}

.board {
    -fx-alignment: CENTER;
    -fx-background-image: url("/img/bg.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-min-width: 500px;
    -fx-max-width: 500px;
    -fx-min-height: 500px;
    -fx-max-height: 500px;
}

.player {
    -fx-font-family: "Romanica";
    -fx-font-size: 40px;
    -fx-text-fill: #2786D1;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.player.current {
    -fx-font-size: 50px;
    -fx-effect: dropshadow(gaussian, #ffffff, 15, 0.2, 0, 0);
}

.player .text {
    -fx-stroke-width: 1px;
    -fx-stroke: #ffffff;
}

.playersBox {
    -fx-min-width: 1500px;
    -fx-max-width: 1500px;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

.menuTitle {
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-weight: bold;
    -fx-font-size: 90px;
    -fx-text-fill: #2786D1;
}

.menuTitle .text {
    -fx-effect: dropshadow(gaussian, #000000, 15, 0.2, 0, 0);
    -fx-stroke-width: 2px;
    -fx-stroke: #ffffff;
}
#skipButton {
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-weight: bold;
    -fx-font-size: 70px;
    -fx-text-fill: #2786D1;
}
#skipButton:hover {
    -fx-font-size: 80px;
    -fx-effect: dropshadow(gaussian, #ffffff, 15, 0.2, 0, 0);
}

#skipButton:pressed {
    -fx-font-size: 70px;
}

.phaseBox {
    -fx-hgap: 50;
}

#skipButton .text {
    -fx-effect: dropshadow(gaussian, #000000, 15, 0.2, 0, 0);
    -fx-stroke-width: 2px;
    -fx-stroke: #ffffff;
}
