@font-face {
    src: url("../fonts/DalekPinpointBold.ttf");
}

@font-face {
    src: url("../fonts/Romanica.ttf");
}

.mainPane {
    -fx-background-image: url("/img/reg_bg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-alignment: CENTER;
}

.topBox {
    -fx-padding: 10 0 0 0;
    -fx-alignment: CENTER;
}

.centerBox {
    -fx-max-width: 900px;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.voteHBox {
    -fx-min-width: 900px;
    -fx-max-width: 900px;
    -fx-padding: 0 10 10 10;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

.allGodsBox {
    -fx-min-width: 900px;
    -fx-max-width: 900px;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

.voteInnerBox {
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-alignment: CENTER;
}

.menuTitle {
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-weight: bold;
    -fx-font-size: 80px;
    -fx-text-fill: #2786D1;
}

.menuTitle .text {
    -fx-stroke-width: 1px;
    -fx-stroke: #ffffff;
}

.menuLabel {
    -fx-font-family: "Romanica";
    -fx-font-size: 30px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.menuLabel .text {
    -fx-stroke-width: 1px;
    -fx-stroke: #2786D1;
}

.menuTextField {
    -fx-background-color: #2786D1;
    -fx-border-color: #2786D1;
    -fx-border-width: 2px;
    -fx-border-radius: 1px;

    -fx-font-family: "Romanica";
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

#submit {
    -fx-background-image: url("/img/button-play-normal.png");
    -fx-background-color: transparent;
    -fx-background-size: 148px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-base: transparent;
    -fx-min-width: 200;
    -fx-min-height: 250;
}

#submit:hover {
    -fx-background-size: 200px;
    -fx-base: transparent;
    -fx-background-color: transparent;
}

#submit:pressed {
    -fx-background-size: 180px;
    -fx-background-color: transparent;
    -fx-base: transparent;
}