@font-face {
    src: url("../fonts/DalekPinpointBold.ttf");
}

@font-face {
    src: url("../fonts/Romanica.ttf");
}

.mainPane {
    -fx-background-image: url("../img/match_bg.png");
    -fx-alignment: CENTER;
}

.topBox {
    -fx-padding: 50 0 0 0;
    -fx-alignment: CENTER;
}

.centerBox {
    -fx-max-width: 900px;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.box {
}

.box:hover {
    -fx-image: -worker-img;
    -fx-opacity: 0.5;
    /*-fx-effect: innershadow(gaussian, #000000, 15, 0.2, 0, 0);*/
}

.box:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.botBox {
    -fx-padding: 0 0 50 0;
    -fx-alignment: CENTER;
}

.board {
    -fx-alignment: CENTER;
    -worker-img: url("/img/workers/free.png");
}

.player {
    -fx-font-family: "Romanica";
    -fx-font-size: 30px;
    -fx-text-fill: #2786D1;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.player .text {
    -fx-stroke-width: 1px;
    -fx-stroke: #ffffff;
}

.player.current {

}

.godCard:hover {
    -fx-effect: dropshadow(gaussian, #f44336, 15, 0.2, 0, 0);
}

.godCard:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.voteHBox {
    -fx-min-width: 900px;
    -fx-max-width: 900px;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

.allGodsBox {
    -fx-min-width: 900px;
    -fx-max-width: 900px;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

.voteInnerBox {
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-alignment: CENTER;
}

.menuTitle {
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-weight: bold;
    -fx-font-size: 90px;
    -fx-text-fill: #2786D1;
}

.menuTitle .text {
    -fx-effect: dropshadow(gaussian, #000000, 15, 0.2, 0, 0);
    -fx-stroke-width: 2px;
    -fx-stroke: #ffffff;
}

.menuLabel {
    -fx-font-family: "Romanica";
    -fx-font-size: 25px;
    -fx-text-fill: orange;
}

.board {
    -fx-background-image: url("/img/bg.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-min-width: 500px;
    -fx-max-width: 500px;
    -fx-min-height: 500px;
    -fx-max-height: 500px;
}